@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Raleway+Dots&display=swap');

/*font-family: 'Raleway Dots', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

/*font-family: 'Bangers', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/*font-family: 'Indie Flower', cursive;*/

body, html {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

body {
  font-size: 25px;
  background: linear-gradient(rgba(60, 70, 150, 0.5), rgba(130, 130, 200, 0.7)), url(https://i.ibb.co/8Dk5xpW/avengers-wallpaper.jpg) center no-repeat fixed;
  background-size: cover;
}

.title-container {
  background-color: rgba(255,51,255,0.2);
  border-radius: 20px;
  margin: 2em auto;
  padding: 20px;
  width: 1100px;
}

#title {
   background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

hr {
  width: 85%;
  margin: 20px auto;
}

.body-container {
  background-color: rgba(0,102,255,0.2);
  border-radius: 20px;
  margin: auto;
  width: 1100px;
  padding: 1em;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
  line-height: 1em;
  font-weight: bold;
  font-family: 'Bangers', cursive;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
}



#survey-form {
  margin: 0 auto;
  width: 1200px;
  padding: 10px;
}

.sections {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  margin-top: 10px;
}

.response {
  display: inline-block;
  text-align: left;
  width: 40%;
  margin-left: 10px;
}

.input-text {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 25px 0 0 10px;
  border: 1px solid #ff1aff;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}

input {
  margin: 10px;
}

label {
  cursor: pointer;
}


#dropdown {
  width: 100%;
  padding: 5px;
  margin: 20px 0 10px 10px;  
  border: 1px solid #ff1aff;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
}

.btn {
  margin: 10px;
  width: 100%;
  text-align: center;
}

button {
  background-color: #ff8080;
  border-radius: 30px;
  color: #ccccff;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  padding: 10px 15px;
  border: 3px solid;
  border-color: #ffff1a;
}

button:hover {
  background-color: #ff4d88;
}

footer {
  text-align: center;
  font-size: 15px;
  color: #7300e6;
  font-weight: bold;
  background-color: rgba(255,51,255,0.2);
  border-radius: 20px;
  margin: 1em auto;
  padding: 20px;
  width: 1100px;
}

@media only screen and (max-width: 1099px) {
  body{
    background: linear-gradient(rgba(60, 70, 150, 0.5), rgba(130, 130, 200, 0.7)), url(https://i.ibb.co/8Dk5xpW/avengers-wallpaper.jpg) center no-repeat fixed;
  background-size: cover;
}

.title-container, .body-container, footer{
    width: 100%
  }
  
  h1 {
    font-size: 50px;
  }
  
  p {
    font-size: 1em;
  }
  
  .sections {
    width: 100%;
    text-align: left;
  }
  .response {
    width: 100%;
    float: left;
    margin-left: -10px;
  }
  .input-text {
    width: 100%;
  }
  select {
    width: 100%;
  }
  .btn {
    width: 100%;
    margin: auto;
  }
}


/*hamburger*/
#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: hsla(153, 100%, 42%, 1);
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100px;             /*menu width*/
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Raleway Dots', cursive;
  font-weight: bold;
  
}

#menuToggle input:checked ~ ul {
  transform: none;
}    